// Specific CSS for your home-page

// EFFECT from PubCrawler but isn't working

//  .page-wrapper{
//   min-height: calc(100vh - 100px);
//   // height: 100%;
//   overflow: auto;
// }


// .slideshow {
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   top: 0px;
//   left: 0;
//   z-index: -1;
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// .slideshow li {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover !important;
//   opacity: 0;
//   z-index: 0;
//   opacity: 0;
//   animation: imageAnimation 50s linear infinite;
// }


// .banner::after {
//   content: '';
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-image: linear-gradient(to bottom, rgba(0,101,168,0.1)  60%, rgba(20,20,20,0.8) 90%), asset-url('banner_01.jpg');
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover !important;
//   z-index: -2;
//   animation: smooth 50s ease-out infinite;
// }

// .slideshow li:nth-child(1) {
//   background-image: linear-gradient(to bottom, rgba(0,101,168,0.1)  60%, rgba(20,20,20,0.8) 90%), asset-url('banner_01.jpg');
// }
// .slideshow li:nth-child(2) {
//   background-image: linear-gradient(to bottom, rgba(0,101,168,0.1)  60%, rgba(20,20,20,0.8) 90%), asset-url('banner_02.jpg');
//   animation-delay: 10s;
// }
// .slideshow li:nth-child(3) {
//   background-image: linear-gradient(to bottom, rgba(0,101,168,0.1)  60%, rgba(20,20,20,0.8) 90%), asset-url('banner_03.jpg');
//   animation-delay: 20s;
// }
// .slideshow li:nth-child(4) {
//   background-image: linear-gradient(to bottom, rgba(0,101,168,0.1)  60%, rgba(20,20,20,0.8) 90%), asset-url('banner_04.jpg');
//   animation-delay: 30s;
// }


// @keyframes imageAnimation {
//   0% {
//     opacity: 0;
//     animation-timing-function: ease-in;
//   }
//   10% {
//     opacity: 1;
//     animation-timing-function: ease-out;
//   }
//   20% {
//     opacity: 1
//   }
//   30% {
//     opacity: 0
//   }
// }

// @-webkit-keyframes smooth {
//   0% { opacity: 1;}
//   50% { opacity: 0;}
// }

// $stem-height: 80px;
// $stem-width: 6px;
// $pointer-width: 6px;
// $pointer-space: 20px;

// .fa-chevron-down {
//   font-size: 30px;
//   color: white;
//   position: absolute;
//   top: 85%;
//   right: 50%;
//   cursor: pointer;
//   animation: 3s soft-blink infinite alternate;
//   // position: absolute;
//   // right: 50%;
//   // top: 65%;
//   // opacity: 0;
// }

// @keyframes soft-blink {
//   0% { opacity: 0.8; }
//   50% { opacity: 0.8; }
//   100% { opacity: 0; }
// }



.value-proposition{
  // background-color: #E8E8E8;
  background-color: #f2f2f0 !important;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dog-rows{
  margin: 30px;
}

.dog-rows.message{
  margin: 100px;
}


.home-item {
  border-radius:15px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
  }
}

  .home-item.slogan{
    p{
      font-size:50px;
    }
  }


.testimonials-list {
    display: flex;
    justify-content: space-around;
}


.wrapper-testimonials{
  background-color:#ebebeb !important;
}

.testimonials-title{
  text-align: center;
  h2{
  font-weight:100 !important;
  }
}

