<%= simple_form_for [@dog, @walk] do |f| %>
<div class="dog-walk-table">
  <div class="dog-walk-form">
    <p>
      <%= f.input :date_begin, as: :string, id:"walk_date_begin", class:"flatpickr-input"  %>
    </p>
    <p>
    <%= f.input :date_end, as: :string, id:"walk_date_end", class:"flatpickr-input" %>
    </p>
  </div>


</div>

    <div class="dog-walk-box">
      <%= f.submit "Let's have a walk!",class: "btn btn-danger" %>
    </div>

<% end %>

