.card-mapContainer{
  margin: 50px;
}

.dog-details-price{
  background-color: forestgreen;
  color: white;
  padding: 10px 15px  ;
  border-radius: 5px;
  p{
    margin:0px;
  }
}

.dog-breed-price{
  display:flex;
  justify-content: space-between;
}

.dog-details-breed{
  padding:15px;
}

.dog-details-name{
  h1{
    font-size: 35px;
  }
}

.dog-bio{
  padding: 20px;
}
